table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
table{
	position:absolute;
	top:125px;
	left:33px;
}
.graph{
	position: absolute;
	top:265px;
	height: 400px;
	left: 0px;
}
.doctor{
	position: absolute;
	top:285px;
	height:50%;
	right: 25px;
}